<!-- <img src="{{imageUrl}}">
<table>
<tr>
  <td [attr.colspan]="colSpan">data is showing</td>
</tr>
</table>
<ol class="breadcrumb">
    <li [ngClass]="{'active': step==='step1'}" (click)="step='step1'">Step1</li>
    <li [ngClass]="{'active': step==='step2'}" (click)="step='step2'">Step2</li>
    <li [ngClass]="{'active': step==='step3'}" (click)="step='step3'">Step3</li>
  </ol>
  <button [style.backgroundColor]="isActive?'white':'blue'">Save</button>
  <input type="text" (keyup.enter)="onEnter($event)">
  <input type="text" [(ngModel)]="email" (keyup.enter)="onEmail()"/>
   -->

   <!-- <app-courses></app-courses> -->
   <!-- <app-contact-form></app-contact-form> -->
   <!-- <app-signupform></app-signupform> -->
   <app-new-contact-form></app-new-contact-form>